{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<!--Banner-->
	<div class="row banner">
		<div class="col-md-12 banner-text">
			<div class="pnw-label">Pacific Northwest Native Plant Collection</div>
			<div class="heading">Nursery Departments</div>
		</div>
	</div>
	<div class = "row">
		<div class="flash col-md-12">
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
	    <ul>
	    {% for message in messages %}
	        <li> <strong> {{ message }} </strong> </li>
	    {% endfor %}
	    </ul>
	    {% endif %}
		{% endwith %}
		</div>
	</div>
	<!--Main content-->
	<div class="row list-box">
		<a href = "{{url_for('new_category')}}">
				<div class="col-md-6 category-list">
					<img src="/../../images/new.jpg"  class="category-thumbnail" />
					<h3>New department...</h3>
				</div>
		</a>
		{% for category in categories %}
	  <a href = "{{url_for('show_species', category_id = category.id)}}">
				<div class="col-md-6 category-list">
					<img src="/../../images/{{ category.image }}" class="category-thumbnail" />
					<h3>{{category.name}}</h3>
				</div>
		</a>
		{% endfor %}
	</div>
{% endblock %}
