{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<!--Banner-->
	<div class="row banner">
		<div class="col-md-12 banner-text">
			<div class="pnw-label">Pacific Northwest Native Plant Collection</div>
			<div class="heading">{{ category.name }}</div>
		</div>
	</div>
	<!--Main content-->
	<div class="back">
		<a href="{{url_for('show_categories')}}">
			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
			Back to <i>Nursery Departments</i>
		</a>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form action="#" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon" id="label-name">Department Name</span>
						<input type="text" class="form-control" id="name" name="name" aria-describedby="label-name" value="{{ category.name }}" required>
					</div>
					<input type="file" id="image" name="image">
					<div class="edit-btn-bar">
						<button type="submit" class="btn btn-default" id="submit" type="submit">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							Save
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
